*                   @shobhitt @cthoenes @HolgerReiners @scalanode @markus-kaercher
/apis/poi/          @cthoenes @HolgerReiners
/apis/trips/        @HolgerReiners @cthoenes
/apis/user-java/    @markus-kaercher @cthoenes
/apis/userprofile/  @scalanode @cthoenes
